html {
  height: 100%;
  width: 100%;
}

/* This CSS file gives the html file its style */

:root {
  --white: #efefef;
  --green: #95ae3a;
  --yellow: #f8da1e;
  --red: #eb5252;
  --black: #595959;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: var(--white);
}

h1 {
  color: var(--green);
  font-family: 'Space Mono', monospace;
}

a {
  color: var(--white);
  text-decoration: none;
}

.title {
  text-align: center;
}

.banner {
  background-color: var(--green);
  width: 100%;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.banner a:first-child {
  text-align: left;
}

.banner div{
  text-align: right;
}

.banner a:nth-child(2) {
  padding-left: 20px;
}

.body{
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75%;
}