/* This CSS file gives the html file its style */

:root {
  --white: #efefef;
  --green: #95ae3a;
  --yellow: #f8da1e;
  --red: #eb5252;
  --black: #595959;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: var(--white);
}

h1 {
  color: var(--green);
  font-family: 'Space Mono', monospace;
}


.banner {
  background-color: var(--green);
}