html {
  height: 100vh;
  width: 100vw;
}

/* This CSS file gives the html file its style */

:root {
  --white: #efefef;
  --green: #95ae3a;
  --yellow: #f8da1e;
  --red: #eb5252;
  --black: #595959;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}

h1 {
  color: var(--green);
  font-family: 'Space Mono', monospace;
}

h2 {
  color: var(--black);
  font-family: 'Space Mono', monospace;
  text-align: center;
}
a {
  color: var(--white);
  text-decoration: none;
}

p{
  line-height: 1.5;
  font-size: 1.1em;
}

button{
  background-color: var(--red);
  font-family: 'Space Mono', monospace;
  font-weight: bolder;
  color: var(--yellow);
  padding: 15px 70px;
  border: none;
  border-radius: 30px;
}

.title {
  text-align: center;
}

.banner {
  background-color: var(--green);
  width: 100%;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.banner a:first-child {
  text-align: left;
}

.banner div{
  text-align: right;
}

.banner a:nth-child(2) {
  padding-left: 20px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body div{
  margin: 0;
  width: 75%;
  height: 75%;
}